{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather Dashboard</title>
  <link rel="stylesheet" href="{% static 'weatherUi.css' %}" />
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header class="top-bar">
      <div class="dark-mode-toggle">
        <input type="checkbox" id="dark-mode" />
        <label for="dark-mode">Dark Mode</label>
      </div>
      <div class="search-bar">
        <form method="post">
            {% csrf_token %}
        <input type="text" placeholder="Search for your preferred city..." name="city" />
        <button type="submit" class="current-location">Enter Your City</button>
        </form>
      </div>
    </header>

    <!-- Main Weather Info -->
    <section class="main-weather">
      <div class="city-time">
        <h2>{{city}}</h2>
        <h1>{{current_Time}}</h1>
        <p>{{current_date}}</p>
      </div>

      <div class="weather-details">
        <div class="temperature">
          <h1>{{temprature}}</h1>
          <p>Feels like: 22°C</p>
        </div>
        <div class="weather-icon">
          {% for mains in weather %}
          {% if mains.main == "Sunny" %}
          <img src="https://images.icon-icons.com/1370/PNG/96/if-weather-3-2682848_90785.png" alt="sunny" />
          {% elif mains.main == "Clouds" %}
          <img src="https://images.icon-icons.com/159/PNG/96/cloud_weather_22376.png" alt="clouds" />
          {% elif mains.main == "Haze" %}
          <img src="https://images.icon-icons.com/2505/PNG/96/sunny_weather_icon_150663.png" alt="haze" />
          {% elif mains.main == "Rain" %}
          <img src="https://images.icon-icons.com/1461/PNG/96/2998141-cloud-nature-rain-weather_99845.png" alt="rain" />
          {% else %}
          <img src="https://images.icon-icons.com/8/PNG/256/cloudyweather_cloud_inpart_day_wind_thunder_sunny_rain_darkness_nublad_1459.png" alt="rain" />
          {% endif %}
          <h3>{{mains.main}}</h3>
          {% endfor %}
          
        </div>
        {% comment %} <div class="extra-info">
          <p>🌅 Sunrise: {{sunrise}}</p>
          <p>🌇 Sunset: {{sunset}}</p>
          <p>💧 Humidity: {{humidity}}%</p>
          <p>🌬️ Wind: {{wind}}</p>
          <p>🔽 Pressure: {{pressure}} hPa</p>
          <p>🌞 UV: 8</p>
        </div> {% endcomment %}
      </div>
    </section>

    <!-- 5 Day Forecast -->
    <section class="forecast">
      <h3>Today Weather Report:</h3>
      <div class="days">
        <div class="day"><p>🌅</p><span> Sunrise: {{sunrise}}</span></div>
        <div class="day"><p>🌇</p><span> Sunset: {{sunset}}</span></div>
        <div class="day"><p>💧</p><span> Humidity: {{humidity}}%</span></div>
        <div class="day"><p>🌬️ </p><span> Wind: {{wind}}</span></div>
        <div class="day"><p>🔽</p><span> Pressure: {{pressure}} hPa</span></div>
      </div>
    </section>

    <!-- Hourly Forecast -->
    <section class="hourly">
      <div class="hours">
        <div {% if messages %}
        <h3>Warning:</h3>
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}</div>
        
      </div>
    </section>
  </div>
</body>
</html>
